__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/
env/
.venv/

.env

*.log

*.sqlite3

.vscode/
.idea/

.DS_Store

node_modules/
dist/
build/

*.pem
extension.zip

.coverage
htmlcov/
.pytest_cache/

*.swp
*.swo
*.tmp